.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.all_list_brands_title_details_btn{
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 50px;
  line-height: 1.428571429;
  border-radius: 50px;
  margin-top: 60px;
  margin-left: 60px;
  float:left;
  background-color: burlywood;
  border: 1px solid #d5d5d5;
}

.all_list_brands_title_details_btn:hover{background:#fff; color:#22965e;}

.button{ width:180px; height:40px; text-align:center; line-height:40px;  font-size:12px; border:1px solid #FFF; margin:15px auto; padding:0 auto; border-radius:5px; display:block; color:#FFF;}
.button:hover{background:#fff; color:#22965e;}
